/* Style all elements on the page to include margin, padding with content width  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: lightcyan;
}
.container {
    margin-top: 20px;
}

aside {
    background-color: lightsteelblue;
    padding: 10px;
    margin: 0px;
    border-radius: 15px;
}

article {
    background-color: lightblue;
    padding: 10px;
    margin: 0px;
    border-radius: 15px;
}

section {
    padding: 20px;
}

header {
    font-size: 50px;
    padding: 20px;
    color: aliceblue;
    text-align: center;
}

#search-area {
    padding-top: 10px;
    padding-bottom: 10px;
}

#search-input {
    border-radius: 5px;
    height: 40px;
    /* width: 190px; */
    width: 80%;
}

#search-button {
    background-color: lightgrey;
    border-radius: 5px;
    height: 40px;
    width:  40px;
}

#weather-details {
    padding-top: 50px;
}

#forecast-section {
    display: flex;
    justify-content: space-around;
}

#temperature {
    background-color: lightsalmon;
    color: linen;
    width: 70%;
    border-radius: 25px;
    padding: 10px;
}

#humidity {
    background-color: lightskyblue;
    color: linen;
    width: 70%;
    border-radius: 25px;
    padding: 10px;

}
#wind-speed {
    background-color: whitesmoke;
    color: slategray;
    width: 70%;
    border-radius: 25px;
    padding: 10px;

}
    
#feels-like {
    background-color: lightsalmon;
    color: linen;
    width: 70%;
    border-radius: 25px;
    padding: 10px;

}

#uv-index {
    background-color: darkred;
    color: linen;
    width: 70%;
    border-radius: 25px;
    padding: 10px;

                
}

#fc-title {
    text-align: center;
}
#fc-temperature {
    background-color: lightsalmon;
    color: linen;
    width: 100%;
    border-radius: 25px;
    padding: 10px;
}

#fc-humidity {
    background-color: lightskyblue;
    color: linen;
    width: 100%;
    border-radius: 25px;
    padding: 10px;

}

p {
    font-size: 13px;
}

/* Sets image size for Screen same or below 1200 pixels */
@media screen and (max-width: 1200px) {
    #search-input {
        width: 75%;
    }
    /* #search-button */
}

/* Sets image size for Screen same or below 1200 pixels */
@media screen and (max-width: 992px) {
    #search-input {
        width: 100%;
    }
    #search-button {
        width: 100%;;
    }
}

/* @media screen and (max-width: 992px) {
    #search-input {
        width: 100%;
    }
    #search-button {
        width: 100%;;
    }

} */